header {
    margin-bottom: 35px;
}

footer {
    margin-top: 35px;
}

.content-spacing {
    padding: 35px 0;
}

.top-spacing {
    margin-top: -30px;
}

.admin-margin {
    margin-top: 5%;
    margin-bottom: 20%;
}